.main-footer {
    font-size: 12px;
    /*padding: 10px;*/
    background: #222d32;
    color: whitesmoke;
}

.datepicker {
    z-index: 1151 !important;
}

table {
    font-size: 14px;
}

.background-ncc-logo-full {
    opacity: 0.4;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;

}
.background-ncc-logo {
    opacity: 0.03;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: fixed;
}